<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KdG Parking Zuid</title>
    <script type="text/javascript" src="../../scripts.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-red.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container body-content">
        <!-- Side Navigation -->
        <nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
            <h1 class="w3-xxxlarge w3-text-theme">Pages</h1>
            <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
        </nav>
        <!-- Header -->
        <header class="w3-container w3-theme w3-padding" id="myHeader">
            <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
            <div class="w3-center">
                <h4>GUI</h4>
                <h1 class="w3-xxxlarge w3-animate-bottom">KdG Parking Zuid</h1>
            </div>
        </header>
    </div>
    @RenderBody()

    <!-- Footer -->
    <footer class="w3-container w3-theme-dark" style="position:absolute;bottom:0;width:100%;height:45px">
        <p>&copy; @DateTime.Now.Year - KdG</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>