@model IList<kdgparking.BL.Domain.InputHolder>

@{
    ViewBag.Title = "File Uploaden";
    ViewBag.RecCount = Model.Count();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Commit</title>
</head>
<body>
    <h2>Committed @ViewBag.RecCount Records</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().ContractId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NumberPlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Tarief)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberPlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarief)
                </td>
            </tr>
        }

        <div>
            @Html.ActionLink("Back Home", "Index")
        </div>

    </table>
</body>
</html>
